body {
    margin:0;
    background-image:url(bgimg.jpg);
    background-size:cover;
    font-family: verdana;
    
}


#chick{
    background-color:#fe9abd;
    border:2px solid #b1023f;
}


#beef{
   background-color:  #e40151; 
    border:2px solid #fe9abd;
}

#sush{
  background-color: #2b1f60;
    border: 2px solid #ab9fe0;
}


 h1 {font-size: 175%;
        position: relative;
        left: 42% ; 
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        clear: both;
        margin-bottom: 50px;
        height : 40px;
        padding: 0;
        width: 22%;
        color: #ff0000;
        text-shadow: 1px 1px #d6dcda;
        background-color: #5d5a5a4d;
     
        
        }

 h3{ font-size: 125%;
        margin:0px;
     color:#ffffb3;
        text-align: center;
        position:relative;
        padding-top:10px;
        padding-bottom:10px;
        width:40%;
     border-radius: 10px;
        left:60%;
    }
 p{  
     padding:2px;
     margin:0;
     
    }
  
.sec{
    border-radius: 10px;
    border:1px solid black;
}



}
